<div style="text-align:center">
    <h1 style="color:mediumseagreen">Your Daily Meal List</h1>
</div>
<div class="row text-center" style="background-color: light-grey">
    <h4 style="color:mediumseagreen">Calories Level; </h4>
    <select (change)="onChange($event.target.value)">
        <option value="all" selected="selected" style="color:mediumseagreen">Chose Calories Level</option>
        <option value="high">Calories > 500</option>
        <option value="low">Calories < 500</option>
    </select>
</div>

<hr size=3>

<div *ngFor="let currentMeal of childMealList | caloriesLevel:selectedCaloriesLevel" style="background-color: mintcream">

    <div class="row">
        <div class="col-md-3">
            <h5>{{ currentMeal.name }}</h5>
        </div>
        <div class="col-md-3">
            <h5>{{ currentMeal.description }}</h5>
        </div>
        <div class="col-md-3">
            <h5>{{ currentMeal.calories }}</h5>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-5">
                    <button (click)="editButtonHasBeenClicked(currentMeal)" class="btn-success">Edit Meal

                    </button>
                </div>
                <div class="col-md-7">
                    <button (click)="deleteButtonHasBeenClicked(currentMeal)" class="btn-danger">Delete meal

                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr size=4>
</div>