<div *ngIf="childSelectedMeal">
   <h4>Edit your Dish</h4>
    <div class="form-group">
        <label class="control-label col-md-2">Meal:</label>
        <div class="col-md-10">
            <input class="form-control" [(ngModel)]="childSelectedMeal.name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Description:</label>
        <div>
            <input [(ngModel)]="childSelectedMeal.description" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Calories:</label>
        <div >
            <input class="form-control" [(ngModel)]="childSelectedMeal.calories">
        </div>
    </div>

    <div class="form-group">
        <div>
            <button (click)="DoneClicked()" class="btn btn-success">Submit</button>
        </div>
    </div>
</div>
